@using Models
@model List<EmployeesModel>


@{
    ViewBag.Title = "GetEmployeesBasedOnDepartment";
}

<h2>Employees</h2>

<div class="container">
    @if (Model.Count != 0)
    {

        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight:900;font-size:larger;font-family:cursive;">
                Employee Information

                <a href="#" id="username" data-type="text" data-pk="1" data-url="/Department/index" data-title="Enter username" class="editable editable-click">superuser</a>

            </div>
            <div class="panel-body">
                <table class="table">
                    <thead class="bg-info">
                        <tr>
                            <th>Department ID</th>
                            <th>Employee Full Name</th>
                            <th>Employee Salary</th>
                        </tr>
                    </thead>

                    <tbody classbg-primary">
                        @foreach (EmployeesModel emp in Model)
                        {
                            <tr>
                                <td>@emp.DepartmentId</td>
                                <td>@emp.FirstName @emp.LastName</td>
                                <td>@emp.Salary</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    }
    else
    {
        <h2>No Data Found</h2>
    }
</div>

 
 